body {
  margin: 0;
  font-size: 16px;
  font-family: Futura,Trebuchet MS,Arial,sans-serif; 
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.nav {
  margin-bottom: 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.main-nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  background: #f1f1f1;
  height: fit-content;
}

.main-nav a {
  text-decoration: none;
  color: #000;
  padding: 10px 30px;
}

.main-nav a:hover {
  color: teal;
}

.sign-in-wrap {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.nav-avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: center;
  border-radius: 100%;
}

.nav-secondary {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}

.nav-secondary li {
  padding: 5px 10px;
}

.image-avatar {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  margin-right: 20px;
}

button {
  -webkit-appearance: none;
  background: white;
  border: 2px solid aquamarine;
  padding: 10px;
  font-size: 16px;
  font-family: Futura,Trebuchet MS,Arial,sans-serif; 
  border-radius: 0;
  margin: 10px;
}

button.solid {
  background: aquamarine;
}

label {
  margin-left: 5px;
}

.form-wrap {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-bottom: 10px;
  align-items: center;
}

.form-wrap input {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
}

.leader-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.leader-info {
  margin-left: 10px;
}

.leader-info p {
  margin-top: 0;
  margin-bottom: 5px;
}